@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.logo {
    width: 120px;
    height: 31px;
    background: #333;
    border-radius: 6px;
    margin: 16px 24px 16px 0;
    float: left;
}


.toc {
    font-size: 14px;
    list-style: none;
}

.toc-anchor {
	  color:#aaa;
	  font-size:12px;
}
.toc-anchor a {
	  display:block;
	  overflow:hidden;
	  text-overflow:ellipsis;
	  white-space:nowrap;
}

.markdown-editor-textarea {
    resize: none;
	  font-size:14px !important;
	  /* line-height:1.8 */
	  line-height:1.5 !important
}
